







body {
    background-color: #00081e;
    margin: 0;
}

@keyframes spin {
    from
    {transform:rotate(0deg);}

    to
    {transform:rotate(360deg);}
}

#winyl{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

                      .st0{fill:#038B8E;}
.st1{fill:none;stroke:#025F5F;stroke-width:7;stroke-miterlimit:10;}
.st2{fill:#068B8E;}
.st3{fill:none;stroke:#036060;stroke-width:7;stroke-miterlimit:10;}
.st4{fill:#DCE11F;}
.st5{opacity:0.84;}
.st6{fill:#212121;}
.st7{fill:#ED1F24;}
.st8{fill:#EC2327;}
.st9{fill:#EE3224;}
.st10{fill:#ED1F24;stroke:#373A3A;stroke-width:4;stroke-miterlimit:10;}
.st11{fill:#6BBD46;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
.st12{fill:#E7E515;stroke:#373A3A;stroke-width:4;stroke-miterlimit:10;}
.st13{fill:#1D1B1C;}
.st14{fill:#3D3D3D;}
.st15{fill:#731012;}
.st16{opacity:0.13;fill:#FFFFFF;}
.st17{fill:#939E9D;}
.st18{fill:#4F4F4F;}
.st19{fill:none;stroke:#D9E021;stroke-width:12;stroke-miterlimit:10;}

svg{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
div {
    padding: 40px;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    color: red;
}
div p { margin:0; }
#error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
#code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#error {
    color: #fff;
    text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#error span {
    animation: upper 11s linear infinite;
}
#code span:nth-of-type(2) {
    animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
    text-shadow: none;
    opacity:.4;
}
@keyframes upper {
    0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
        opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
    }
    20%,21.999%,63%,63.999%,65%,69.999% {
        opacity:0.4; text-shadow: none;
    }
}
@keyframes lower {
    0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
        opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    }
    19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% {
        opacity:0.4; text-shadow: none;
    }
}




